<!--LINK THIS DOCUMENT TO AN EXISTING ANGULAR APP-->
<html ng-app='myApp'>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<!--LINKING THIS HTML DIV TO AN EXISTING CONTROLLER-->
	<div ng-controller='MainController'>

		<div class='inline'>	
			<!--Creates inputs to gather info for creating a new pokemon-->
			<strong>Add Pokemon</strong><br>
			<div class='add-field'>	
				<div class='inline'>
					<div>Number:</div> <input name='image' ng-model='pokemon.number'><br>
					<div>Image:</div> <input name='image' ng-model='pokemon.image'><br>
					<div>Name:</div> <input type='text' name='name' ng-model='pokemon.name' required><br>
					<div>Type:</div> <input type='text' name='type' ng-model='pokemon.type'><br>
				</div>
				<div class='inline'>
					<div>Categories:</div> <input type='text' name='categories' ng-model='pokemon.categories'><br>
					<div>Abilities:</div> <input type='text' name='abilities' ng-model='pokemon.abilities'><br>
					<div>Weaknesses:</div> <input type='text' name='weaknesses' ng-model='pokemon.weaknesses'><br><br>

					<!--Press this button to add this pokemon-->
					<button ng-click='addPoke()'>Add Pokemon</button>
				</div>
			</div>
		</div>
		<div class='inline'>
			<!--Inputs for gathering search criteria-->
			<strong>Search by</strong>
			<div class='search-field'>

				<div class='inline'> <div>Number:</div> <input ng-model='search.number'></div>
				<div class='inline'> <div>Name:</div> <input ng-model='search.name'></div>
				<div class='inline'><div>Type:</div> <input ng-model='search.type'></div>
				<div class='inline'><div>Category:</div> <input ng-model='search.categories'></div>
				<div class='inline'><div>Ability:</div> <input ng-model='search.abilities'></div>
				<div class='inline'><div>Weakness:</div> <input ng-model='search.weaknesses'></div>
			</div>
		</div><br>
		<!--Ng Repeat goes through every element in my array (pokemonList, which is synced with firebase) and displays the relevant info-->
		<div class='pokemonDisplay' ng-repeat='poke in pokemonList | filter:search'>
			<div class='poke-contain inline'>
				<strong>{{poke.number}}</strong>
				<img class='poke-image' src='{{poke.image}}'><br>
				<strong> {{poke.name}} </strong><br>
				Type: <em>{{poke.type}}</em><br>
				Abilities: <em>{{poke.abilities}}</em><br>
				Categories:  <em>{{poke.categories}}</em><br>
				Weaknesses:  <em>{{poke.weaknesses}}</em><br>
				<button ng-click='deletePoke(poke)'>Release</button>
				<!--ng-hide makes the button visible unless the variable 'editting' is true-->
				<button ng-hide='editting' ng-click='editting=!editting'>Edit</button><br><br>
			</div>

			<!--Creates a field where I can edit existing pokemon-->
			<!--ng-show makes the div invisible unless the variable 'editting' is true-->
			<div ng-show='editting' class='inline'>
				Number: <input name='number' ng-model='poke.number'><br>
				Image: <input name='image' ng-model='poke.image'><br>
				Name: <input type='text' name='name' ng-model='poke.name' required><br>
				Type: <input type='text' name='type' ng-model='poke.type'><br>
				Categories: <input type='text' name='categories' ng-model='poke.categories'><br>
				Abilities: <input type='text' name='abilities' ng-model='poke.abilities'><br>
				Weaknesses <input type='text' name='weaknesses' ng-model='poke.weaknesses'><br>
				<button ng-click='updatePoke(poke); editting=!editting' >Update</button><br><br>
			</div>
		</div>
	</div>
</body>
	<!--Linking all the scripts (Angular library, Firebase library, my angular code)-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
	<script type="text/javascript" src='app.js'></script>
</html>